.hidden {
    display: none !important;
}

:root {
    --number-size: 0px
}

.stitch-image {
    display: grid;
    overflow: hidden;

}

.stitch {
    height: 100%;
    width: 100%;
    opacity: 0.4;
    color: black;
    text-align: center;
    border: 1px solid black;
    font-size: 12px;
    transition: opacity ease 0.2s;
}

.stitch-wrapper {
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: flex;
    grid-row: 2;
    grid-column: 2;
}

#stitch-canvas {
    transform-origin: 0 0;
    position: absolute;
}

#grid-canvas {
    position: absolute;
    pointer-events: none;
}

#transform-wrapper {
    transform-origin: 0 0;
    position: relative;
}

.project-wrapper {
    overflow: hidden;
    display: grid;
    grid-template-columns: 40px auto;
    grid-template-rows: 40px auto;
    position: relative;
    box-shadow: 2px 2px 3px 1px grey;
}

.guide-horizontal {
    grid-row: 1;
    grid-column: 2;
    position: absolute;
    display: grid;
    grid-auto-flow: column;
    top: 7px;
}

.guide-horizontal .guide-number {
    width: var(--number-size);
}

.guide-number {
    text-align: center;
    font-size: 20px;
    user-select: none;
}

.guide-vertical {
    grid-row: 2;
    grid-column: 1;
    position: absolute;
    display: grid;
    grid-auto-flow: row;
    left: 5px;
}

    .guide-vertical .guide-number {
        height: var(--number-size);
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

#zoom-canvas {
    position: absolute;
    pointer-events: none;
}

.project-editor {
    display: grid;
    width: 95%;
    height: calc(95% - 40px);
    grid-template-columns: 80px auto;
    margin: auto;
}

.toolbar {
    display: grid;
    grid-auto-rows: max-content;
    background: white;
    border: 1px solid lightgray;
    align-content: center;
}

.toolbar-group {
    display: grid;
    grid-auto-rows: 64px;
    grid-row-gap: 5px;
    border-bottom: 2px solid black;
    padding: 8px 0px;
}

.toolbar-group:last-of-type {
    border-bottom: none;
}

.toolbar-item {
    display: flex;
    font-size: 34px;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
}

    .toolbar-item .icon {
        width: 80%;
        display: flex;
        height: 100%;
        justify-content: center;
        border-radius: 6px;
        align-items: center;
        user-select: none;
    }

    .toolbar-item .icon:hover {
        background-color: #41c300;
        cursor: pointer;
    }

        .toolbar-item .icon.selected {
            background-color: blueviolet;
        }
        .toolbar-item .icon svg {
            color: black;
        }
        .toolbar-item .icon.selected svg {
            filter: invert(1);
        }

.settings {
    position: absolute;
    background: white;
    height: auto;
    left: 85px;
    z-index: 5;
    cursor: auto;
    font-size: 16px;
    width: 300px;
    padding: 10px;
    border-radius: 6px;
}

.settings .title {
    font-size: 20px;
    padding-bottom: 5px;
}

    .settings .option {
        display: grid;
        align-items: center;
        grid-template-columns: max-content auto;
        grid-column-gap: 7px;
        padding-bottom: 7px;
    }

    .settings .option div {
        line-height: 1.2;
    }

    .settings .option input {
        height: 20px;
        width: 20px;
    }

.disabled {
    pointer-events: none;
    opacity: 0.3;
}

.stitch-count-menu {
    width: 300px;
    position: absolute;
    z-index: 5;
    background: white;
    left: 85px;
    display: grid;
    grid-auto-rows: 25px;
    bottom: 0;
    padding: 15px;
    font-size: 16px;
    max-height: 60vh;
    overflow: auto;
    border-radius: 6px;
    box-shadow: grey 1px 1px 1px 1px;
}

.stitch-count {
    display: grid;
    grid-template-columns: 30px 85px 25px 40px max-content 40px;
}

.color-preview {
    width: 20px;
    height: 20px;
    align-self: center;
    justify-self: center;
}