/* Provide sufficient contrast against white background */
html, body, #root {
    height: 100%
}

#root {
    display: flex;
    flex-direction: column;
}

a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

body {
    background-color: #edebe9;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

input[type="file"]{
    display: none;
}

button {
    background-color: blueviolet;
    color: white;
    border-radius: 4px;
    border: none;
}

    button:hover {
        background-color: #41c300;
    }

    button[disabled] {
        background-color: gray;
    }

    button[disabled]:hover {
        cursor: default;
        background-color: gray;
    }

.upload-wrapper {
    display: grid;
    align-items: center;
    justify-items: center;
    height: 100%;
    flex-grow: 100;
}

.image-upload-window {
    font-size: min(7vh, 48px);
    width: 25vw;
    background-color: antiquewhite;
    height: min(340px, 45vh);
    text-align: center;
    background-color: white;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.2),0 1px 5px 0 rgba(0,0,0,0.12);
    border-radius: 3px;
    display: flex;
    align-content: center;
    justify-content: center;
}

.file-upload-label {
    background-color: blueviolet;
    color: white;
    padding: 2px 10px 5px 10px;
    margin: 0;
    cursor: pointer;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.2),0 1px 5px 0 rgba(0,0,0,0.12);
    border-radius: 4px;
    margin-top: 5px;
    margin-bottom: 15px;
}

    .file-upload-label:hover {
        background-color: #41c300;
    }

.image-upload {
    margin: auto;
}

.image-upload.dragged {
    pointer-events: none;
}

.dim {
    background-color: darkgrey;
}

.image-upload-window.dragged {
    background-color: blueviolet;
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

    .lds-ring div {
        box-sizing: border-box;
        display: block;
        position: absolute;
        width: 64px;
        height: 64px;
        margin: 8px;
        border: 8px solid #fff;
        border-radius: 50%;
        animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        border-color: blueviolet transparent transparent transparent;
    }

        .lds-ring div:nth-child(1) {
            animation-delay: -0.45s;
        }

        .lds-ring div:nth-child(2) {
            animation-delay: -0.3s;
        }

        .lds-ring div:nth-child(3) {
            animation-delay: -0.15s;
        }

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.main-wrapper {
    display: grid;
    width: 100vw;
    height: 50%;
    grid-template-columns: 2vw auto 2vw 350px min-content;
    grid-template-rows: 95%;
    align-content: center;
    flex-grow: 1;
}

.image-preview {
    background: #fff;
    grid-column: 2;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.2),0 1px 5px 0 rgba(0,0,0,0.12);
    border-radius: 4px;
    display: grid;
    grid-template-rows: 35px auto;
}

.options {
    background: #fff;
    grid-column: 4;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.2),0 1px 5px 0 rgba(0,0,0,0.12);
    border-radius: 4px;
}

.option input[type=number],
.option input[type=text],
.option select{
    border: #bdbdbd solid 1px;
    width: 200px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 14px;
    margin-top: 5px;
    margin-bottom: -4px;
}

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 20px;
        width: 20px;
        top: -3px;
        background-color: blueviolet;
        -webkit-transition: .4s;
        transition: .4s;
        border-radius: 50%;
    }

input:checked + .slider {
    background-color: #923ae394;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.tabs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-bottom-style: solid;
    border-bottom-color: gray;
    border-bottom-width: 1px;
}

.tab {
    text-align: center;
}

.tab label {
    font-size: 20px;
    margin: auto;
    vertical-align: middle;
    position: relative;
    user-select: none;
    pointer-events: none;
}

    .tab:first-of-type {
        border-right-color: gray;
        border-right-style: solid;
        border-right-width: 1px;
        border-radius: 4px 0 0 0;
    }

    .tab:last-of-type {
        border-left-color: gray;
        border-left-style: solid;
        border-left-width: 1px;
        border-radius: 0 4px 0 0;
    }

    .tab:hover {
        background-color: #41c300;
        cursor: pointer;
    }

.tab.selected {
    background-color: blueviolet;
    color: white;
}

.tab.disabled {
    background-color: lightgray;
    cursor: not-allowed;
    pointer-events: none;
    opacity: 50%;
}

.image-window {
    overflow: auto;
    display: flex;
}

.image-window img{
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    margin: auto;
}

#preview-image:hover{
    cursor: zoom-in;
}

    .image-window a {
        max-height: 100%;
        max-width: 100%;
        object-fit: contain;
        margin: auto;
        display: flex;
    }

    .image-window a img {
        margin: 0;
    }

.image-window .lds-ring {
    margin: auto;
}

.options {
    display: grid;
    grid-template-rows: 40px auto min-content;
}

.option {
    display: grid;
    grid-template-rows: min-content min-content;
    justify-items: center;
    line-height: 1;
}

.option input::-webkit-outer-spin-button,
.option input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.option input[type=number]{
    -moz-appearance: textfield;
}

.option:first-of-type {
    margin-top: 10px;
}

.option:last-of-type {
    margin-bottom: 10px;
}

.options-list {
    display: grid;
    overflow-y: scroll;
    grid-row-gap: 15px;
    grid-template-rows: repeat(10, min-content);
    padding: 0 10px;
}

.options .title {
    font-size: 24px;
    text-align: center;
    border-bottom: gray solid 1px;
}

.options .buttons {
    display: grid;
    grid-row-gap: 5px;
    padding: 10px 20px;
}

    .options .buttons label {
        background-color: blueviolet;
    }

    .options .buttons button,
    .options .buttons label,
    .presets-buttons button
    {
        border: none;
        border-radius: 4px;
        font-size: 18px;
        color: white;
        padding: 2px 0px;
        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.2),0 1px 5px 0 rgba(0,0,0,0.12);
        text-align: center;
        margin: 0;
    }
        .options .buttons label:hover {
            background-color: #41c300;
            cursor: pointer;
        }

.dialog-title {
    text-align: center;
}

.dialog div {
    align-self: center;
}

.MuiDialog-paper {
    width: 400px;
    height: auto;
}

.summary {
    display: grid;
    width: 100%;
    grid-template-rows: min-content min-content auto;
    margin: 10px !important;
}

.floss-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    overflow: auto;
    grid-row-gap: 2px;
    font-size: 14px;
}

.floss {
    display: grid;
    grid-template-columns: 100px 50px 100px;
    flex-basis: min-content;
    grid-column-gap: 10px;
}

.dimmed {
    background-color: lightgray;
}

.dimmed#stitchSize{
    color: lightgray;
}

.tooltip-icon {
    display: inline-block;
    position: absolute;
    margin-left: 4px;
    color: #2a2a2e;
    margin-top: -1px;
}

    .tooltip-icon .tooltip-text {
        visibility: hidden;
        width: 300px;
        background-color: #2a2a2e;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 10px 0;
        position: absolute;
        z-index: 1;
        bottom: -50%;
        right: 100%;
        margin-right: 5px;
        margin-bottom: -2px;
    }


    .tooltip-icon:hover .tooltip-text {
        visibility: visible;
    }

.tool-tip {
    font-size: 16px;
}

.option label svg {
    margin-top: -1px;
    margin-left: 4px;
    color: #2e2e2e;
}

.advanced-tab-title {
    margin-left: 20px;
    font-size: 18px;
    color: blueviolet;
}

    .advanced-tab-title:hover {
        cursor: pointer;
        text-decoration: underline;
    }

.MuiCollapse-wrapperInner {
    display: grid;
    grid-row-gap: 15px;
}

.option input[type=range] {
    -webkit-appearance: none;
    width: 70%;
    height: 7px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    transition: opacity .2s;
    margin-top: 8px;
}

    .option input[type=range]::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background: blueviolet;
        cursor: pointer;
    }

    .option input[type=range]::-moz-range-thumb {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background: blueviolet;
        cursor: pointer;
    }

#dithererStrength {
    width: 35px;
    text-align: center;
}

#dialog-title{
    text-align: center;
}

.dialog-content {
    font-size: 1.2rem;
    text-align: center;
}

.return {
    color: blueviolet;
}

.return:hover{
    text-decoration: underline;
    cursor: pointer;
}

.session-timeout-dialog .lds-ring {
    margin: auto;
}

.warning {
    font-size: 14px;
    color: red;
    margin-top: -12px;
}

.background-dim {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: #000000b3;
    top: 0;
    left: 0;
    display: none;
}

.background-dim.active {
    display: block;
    z-index: 11;
}

    .background-dim img {
        max-width: 100%;
        max-height: 100vh;
        margin: auto;
        height: 100%;
        width: 100%;
        object-fit: contain;
    }

    .background-dim img:hover{
        cursor: zoom-out;
    }

#img-mapper{
    margin: auto;
}

.pixel-tooltip {
    position: absolute;
    width: 100px;
    height: 50px;
    background-color: white;
    opacity: 0;
    z-index: 1;
    pointer-events: none;
    transition: opacity ease-in 0s;
}

.pixel-tooltip.active {
    opacity: 1;
    transition: opacity ease-in 0.15s;
}

.img-wrapper {
    display: grid;
    height: 100%;
}

.dialog-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.dialog-content input {
    width: 250px;
}

    .dialog-content button {
        padding: 5px 8px;
        width: 150px;
        margin-top: 15px;
        margin-bottom: 15px;
    }

.create-project-dialog .warning {
    margin: 0;
}

.warning-screen {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    font-size: 26px;
}

    .warning-screen svg {
        font-size: 64px;
    }

.presets {
    margin-left: 2vw;
    display: grid;
    background-color: white;
    box-shadow: -1px 2px 2px 1px rgba(0,0,0,0.14);
    grid-template-columns: 20px auto;
    grid-template-rows: 100%;
    border-radius: 4px;
}

.collapse-bar {
    border-right: gray 1px solid;
    height: 100%;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.collapse-bar:hover {
    background-color: blueviolet;
    color: white;
    cursor: pointer;
}

.presets-main {
    width: 250px;
    grid-template-rows: 40px auto min-content;
}

    .presets-main .title {
        font-size: 24px;
        text-align: center;
        border-bottom: gray solid 1px;
    }

.presets-buttons {
    display: grid;
    padding: 10px;
    grid-row-gap: 5px;
    border-top: 1px solid gray;
}

.presets-list {
    padding: 10px;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.preset-info {
    font-size: 16px;
    text-align: center;
    margin: auto;
    opacity: 0.6;
}

.preset.selected {
    background-color: blueviolet;
    color: white;
}

.preset:hover {
    background-color: #41c300;
    cursor: pointer;
}